<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="BNPP Commands"
            id="com.mobility.bnpp.command.category1"
            name="BNPP">
      </category>
      <command
            categoryId="com.mobility.bnpp.command.category1"
            description="Integrates multi langs into project file"
            id="com.mobility.bnpp.IntegrateMultiLang"
            name="Integrate Multi Lang">
      </command>
      <command
            categoryId="com.mobility.bnpp.command.category1"
            description="Automatically Build with custom settings"
            id="com.mobility.bnpp.buildautomation"
            name="Build">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="com.mobility.bnpp.popupmenu.BNPP"
               label="BNPP"
               mnemonic="b">
            <command
                  commandId="com.mobility.bnpp.IntegrateMultiLang"
                  id="com.mobility.bnpp.popupmenu.IntegrateMultiLang"
                  mnemonic="m"
                  style="push">
            </command>
            <command
                  commandId="com.mobility.bnpp.buildautomation"
                  id="com.mobility.bnpp.popup.buildautomation"
                  mnemonic="b"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <or>
                           <instanceof
                                 value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                        </or>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="IntegrateMultiLang"
            commandId="com.mobility.bnpp.IntegrateMultiLang">
      </handler>
      <handler
            class="com.mobility.bnpp.buildautomation.plugincode.BuildAutomation"
            commandId="com.mobility.bnpp.buildautomation">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.mobility.bnpp.IntegrateMultiLang"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+m">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.mobility.bnpp.menu.BNPP"
               label="BNPP"
               mnemonic="b">
            <command
                  commandId="com.mobility.bnpp.IntegrateMultiLang"
                  id="com.mobility.bnpp.menu.IntegrateMultiLang"
                  mnemonic="m"
                  style="push">
            </command>
            <command
                  commandId="com.mobility.bnpp.buildautomation"
                  id="com.mobility.bnpp.menu.buildautomation"
                  mnemonic="b"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <or>
                           <instanceof
                                 value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                        </or>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mobility.bnpp.preferences.BNPPPreferencePage"
            id="com.mobility.bnpp.preferences.BNPPPreferencePage"
            name="BNPP">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mobility.bnpp.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
